<%= form_for @subcriber, html:{multipart: true } do |f| %>
 
  <% if @subcriber.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@subcriber.errors.count, "error") %> prohibited
        this subcriber from being saved:
      </h2>
      <ul>
        <% @subcriber.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
